* {
  /* border: 2px solid red; */
  margin: 0;
  padding: 0%;
}

body {
  background-color: #96e9fe
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 30px;
}

.maingrid {
  display: grid;
  grid-template-columns: 0.7fr 1fr 0.7fr;
}

.board {
  background-color: #007491;
  gap: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.board button:nth-child(1) {
  border-radius: 0px 0px 10px 0px;
}

.board button:nth-child(2) {
  border-radius: 0px 0px 10px 10px;
}

.board button:nth-child(3) {
  border-radius: 0px 0px 0px 10px;
}

.board button:nth-child(4) {
  border-radius: 0px 10px 10px 0px;
}

.board button:nth-child(5) {
  border-radius: 10px 10px 10px 10px;
}

.board button:nth-child(6) {
  border-radius: 10px 0px 0px 10px;
}

.board button:nth-child(7) {
  border-radius: 0px 10px 0px 0px;
}

.board button:nth-child(8) {
  border-radius: 10px 10px 0px 0px;
}

.board button:nth-child(9) {
  border-radius: 10px 0px 0px 0px;
}

.box {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #96eaff;
  height: 150px;
  font-size: 150px;
  border-radius: 2px;
  transition: all 0.5s;
}

.box:hover {
  background-color: #6fe2ff;
}

.undo {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.undo>* {
  margin: 20px 50px 0px 50px;
}

.undobutton {
  background-color: #5cb85c;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 20px;
}

.restartbutton {
  background-color: #d9534f;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 20px;
}

.undo p {
  font-size: 20px;
}

h2 {
  background-color: rgb(244, 71, 71);
}










/* ***************************************************/
@media screen and (max-width: 700px) {
  .undo>* {
    margin: 20px 20px 0px 20px;
  }
  .maingrid {
    grid-template-columns: 0.3fr 1fr 0.3fr;
  }
}


@media screen and (max-width: 520px) {
  .undo {
    flex-direction: column;
  }
  .undo button{
    width: 70%;
  }
  
  .undo p {
    order: -1;
  }
  
  h1{
    font-size: 40px;
  }
  
  .maingrid {
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }

  .box{
    height: 100px;
  }
  
  .board button{
    font-size: 90px;
  }

}